<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dreamalive Bill Memo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./app.css" />
</head>

<body>
    <div class="page-content container" style="margin-top: 5px;" id="app">
        <div id="bill-container" v-if="!showBilling">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputCompanyName" class="form-label">Company Name</label>
                    <input type="text" v-model="companyName" class="form-control" id="inputCompanyName">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" v-model="companyEmail" class="form-control" id="inputEmail4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" v-model="addressLine1" class="form-control" id="inputAddress"
                        placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" v-model="addressLine2" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                    <label for="inputGSTIN" class="form-label">GSTIN</label>
                    <input type="text" v-model="sourceGSTIN" class="form-control" id="inputGSTIN">
                </div>
                <div class="col-md-6">
                    <label for="inputTel" class="form-label">Tel</label>
                    <input type="text" v-model="tel" class="form-control" id="inputTel">
                </div>
                <div class="col-md-2">
                    <label for="inputCurrency" class="form-label">Currency</label>
                    <select id="inputCurrency" class="form-select" v-model="selectedCurrency">
                        <option v-for="(option, optIndex) in getCurrencyCodes" :value="option.code">{{option.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputStatus" class="form-label">Status</label>
                    <select id="inputCurrency" class="form-select" v-model="billStatus">
                        <option value="Paid">Paid</option>
                        <option value="Unpaid">Unpaid</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputUnit" class="form-label">Unit</label>
                    <input type="text" v-model="selectedUnit" class="form-control" id="inputUnit">
                </div>
                <div class="col-md-2">
                    <label for="inputTaxUnit" class="form-label">Tax Units</label>
                    <input type="text" v-model="taxItems" class="form-control" id="inputTaxUnit">
                </div>
                <div class="col-md-4">
                    <label for="inputToBank" class="form-label">Bill To Bank Detail</label>
                    <input type="text" v-model="billToBank" class="form-control" id="inputToBank">
                </div>
                <div class="col-md-12">
                    <label for="inputToBillTo" class="form-label">Bill To</label>
                    <textarea v-model="billTo" class="form-control" id="inputToBillTo"></textarea>
                </div>
                <div class="col-12">
                    <button type="button" @click="toggleBill" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div id="bill-container" v-if="showBilling">
            <div style="position:relative">
                <span class="btn btn-info back-page" @click="toggleBill"><i class="fa-solid fa-arrow-left"></i></span>
            </div>
            <div class="container px-0">
                <div class="row header">
                    <div class="mb-3 d-flex justify-content-between">
                        <div><strong>GSTIN: {{sourceGSTIN}}</strong></div>
                        <div>Original Copy</div>
                    </div>
                    <div class="row text-uppercase">
                        <div class="text-center"><u>
                                <h3>Tax Invoice</h3>
                            </u></div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <strong>
                                <h1 class="page-title">{{companyName}}</h1>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            {{addressLine1}}
                        </div>
                        <div class="text-center">
                            {{addressLine2}}
                        </div>
                        <div class="text-center">
                            <strong>Tel: {{tel}}</strong> &nbsp;&nbsp; <strong>Email: {{companyEmail}}</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container px-0">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row meta-info">
                            <div class="col-sm-6 meta-info-rb">
                                <div>
                                    <span class="text-sm text-grey-m2 align-middle">To:</span>
                                </div>
                                <div class="text-grey-m2" v-html="formatBreakLine(billTo)">

                                </div>
                            </div>
                            <!-- /.col -->

                            <div class="text-95 col-sm-6">
                                <hr class="d-sm-none" />
                                <div class="text-grey-m2">
                                    <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                        Invoice
                                    </div>

                                    <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                            class="text-600 text-90">ID:</span> #{{new Date().getTime()}}</div>

                                    <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                            class="text-600 text-90">Issue Date:</span> {{new Date().toDateString()}}
                                    </div>

                                    <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                            class="text-600 text-90">Status:</span> <span
                                            class="badge badge-warning badge-pill px-25">{{billStatus}}</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- <div style="position:relative">
                    <span class="btn btn-primary add-item" @click="addItem"><i class="fa-solid fa-plus"></i></span>
                    </div> -->
                        <div class="row table-row table-data">
                            <table class="table table-striped bill-table">
                                <thead>

                                    <tr>
                                        <th v-for="col in options.tableCols" :key="col.id">
                                            {{col.title}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-data" v-for="(row, rowIndex) in options.tableData" :key="rowIndex">
                                        <td class="table-data" v-for="(col, colIndex) in options.tableCols"
                                            :key="col.id">
                                            <div v-if="col.editable && options.editableRows[rowIndex]">
                                                <input :style="col.editControlStyle" v-model="row[colIndex]"
                                                    type="number"
                                                    v-if="options.tableCols[colIndex].type && options.tableCols[colIndex].type === 'number'" />
                                                <select :style="col.editControlStyle" v-model="row[colIndex]"
                                                    v-if="options.tableCols[colIndex].type && options.tableCols[colIndex].type === 'options'">
                                                    <option
                                                        v-for="(option, optIndex) in options.tableCols[colIndex].options()"
                                                        :value="option.value">{{option.text}}</option>
                                                </select>
                                                <input :style="col.editControlStyle" type="text"
                                                    v-if="!options.tableCols[colIndex].type || options.tableCols[colIndex].type === 'text'"
                                                    v-model="row[colIndex]" />
                                            </div>
                                            <div v-if="colIndex === 0">{{col.getData(row, colIndex, rowIndex)}}
                                                <div class="edit-control">
                                                    <span class="btn btn-success" @click="saveItem(rowIndex)"
                                                        v-if="options.editableRows[rowIndex]"><i
                                                            class="fa-solid fa-floppy-disk"></i></span>
                                                    <span class="btn btn-primary" @click="editItem(rowIndex)" v-else><i
                                                            class="fa-solid fa-pen"></i></span>
                                                    <span class="btn btn-danger" @click="deleteItem(rowIndex)"><i
                                                            class="fa-solid fa-trash"></i></span>
                                                </div>
                                            </div>
                                            <div v-if="colIndex > 0 && !options.editableRows[rowIndex]">{{col.getData ?
                                                col.getData(row, colIndex, rowIndex) : row[colIndex]}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center grand-total-row"
                                            :colspan="(options.tableCols ? options.tableCols.length : 0) - 1">
                                            <span>Grand Total </span><span class="ms-5">{{getTotalUnits}}
                                                {{selectedUnit}}</span>
                                        </td>
                                        <td class="grand-total-row">{{formatCurrency(getTotal)}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="position:relative">
                            <span class="btn btn-primary add-item" @click="addItem"><i
                                    class="fa-solid fa-plus"></i></span>
                        </div>
                        <div class="row box-container">
                            <div class="col-sm-6">
                                <table class="table tax-table mt-5">
                                    <thead>
                                        <tr class="tax-border-bottom">
                                            <th v-for="col in options.taxCols" :key="col.id">
                                                {{col.title}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-data" v-for="(row, rowIndex) in getTaxData"
                                            :class="{ 'tax-border-bottom':  rowIndex === (getTaxData.length - 1)}"
                                            :key="rowIndex">
                                            <td v-for="(data, dataIndex) in row" :key="dataIndex">
                                                {{data}}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="tax-border-bottom">
                                            <td>Totals</td>
                                            <td>{{formatCurrency(getTotalTax.totalTaxAmt)}}</td>
                                            <td>{{formatCurrency(getTotalTax.stateCenterTax)}}</td>
                                            <td>{{formatCurrency(getTotalTax.stateCenterTax)}}</td>
                                            <td>{{formatCurrency(getTotalTax.totalTax)}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <p><strong>Total in words:</strong> {{numInWords(getTotal)}}</p>
                            </div>
                        </div>
                        <div class="row box-container">
                            <div class="col-sm-6 mt-2 mb-2"><strong>Bank Details:</strong> {{billToBank}}</div>
                        </div>
                        <div class="row box-container">
                            <div class="col-sm-6 meta-info-rb">
                                <u><strong>Terms & Conditions</strong></u><br />
                                E.& O.E.
                                <ol>
                                    <li>Goods once sold will not be taken back.</li>
                                    <li>Interest @ 18% p.a. will be charged if the payment is not made within the
                                        stipulated time.</li>
                                    <li>Subject to 'Delhi' Jurisdiction only.</li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <div class="pb-4" style="border-bottom: 1px solid;">
                                    <strong>Reciever's Signature: </strong>
                                </div>
                                <div>
                                    <div class="float-end">
                                        <strong>For {{companyName}}</strong><br /><br /><br />
                                        <strong>Authorised Signatory</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</body>

</html>